/* From Uiverse.io by Jedi-hongbin */
.button-arrow {
    display: flex;
    height: 2.5em;
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-family: 'Oswald';
    font-size: 1.2rem;
}

.button-arrow>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 50px;
    transition: all 0.4s ease-in;
}

.button-arrow:hover>svg {
    font-size: 1.5em;
    transform: translateX(-5px);
}

.button-arrow:hover {
    box-shadow: 9px 9px 33px var(--light-gray), -9px -9px 33px var(--orange-color);
    transform: translateY(-2px);
}