@import "transition-style";
.land-container {
    width: 100dvw;
    display: grid;
    /* background-color: aqua; */
    grid-template-rows:auto auto auto;
}

header {
    background-color: var(--white-color);
}

main {
    background-color: var(--white-color);
}

footer {
    background-color: var(--black-color);
}