@import "transition-style";
body {
  margin: 0;
  font-family: 'Nunito';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, .App{
  max-width: 100dvw;
  overflow-x: hidden;
  
}